$blue: #0f7ae5;
$green: #2ecc71;
$cult: #e96900;

%coc-button {
  padding: 0.5em 2rem;
  border: 0;
  border-radius: 0.5em;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

@mixin coc-button-hover($color) {
  &:hover {
    box-shadow: $color 0 7px 19px;
  }
}

@mixin coc-color-button($color) {
  box-shadow: rgba($color, 0.5) 0 5px 16px;

  @extend %coc-button;
  background-color: $color;
  @include coc-button-hover($color)
}

.coc-button-cult {
  @include coc-color-button($cult);
}

.coc-button-green {
  @include coc-color-button($green);
}

.coc-button-blue {
  @include coc-color-button($blue);
}