html {
  background: #ecf0f1;
  -moz-osx-font-smoothing: grayscale;
}

.coc-input {
  & * input {
    width: 20em;
    font-size: 1em;
    padding: 0.5rem 0.5rem;

    line-height: 2rem;
    display: inline-block;
    position: relative;
    vertical-align: middle;

    overflow: visible;
    max-width: 100%;
    border: 1px solid #1a181833;
    margin-bottom: 30px;
  }
}